[run]
branch = True
omit =
    /home/vboxuser/PycharmProjects/Robots/RobotsAPI/Robots/RobotsAPI/migrations/*,
    /home/vboxuser/PycharmProjects/Robots/RobotsAPI/Robots/RobotsAPI/tests/*,
    /home/vboxuser/PycharmProjects/Robots/RobotsAPI/Robots/Robots/wsgi.py/*


